@import "./variables";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark;
}

nav li:last-child a {
  background: $primary;
  &:hover {
    background: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}
section.hero {
  background: $secondary;
}
.size {
  background: $secondary;
}
.add-to-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth;
  &:hover {
    background: $primary;
    border-color: $pure;
    color: $pure;
  }
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background: $primary !important;
  transition: $smooth;
  &:hover {
    background: $primary-hover !important;
  }
}

.footer-copyright {
  background: $primary;
  color: white;
  font-weight: 700;
  width: 100%;
  min-height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.cart {
  background: $secondary;
  min-height: calc(95vh - 86px);
  .amount {
    color: $primary;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.login {
  background: $secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(95vh - 86px);
  a {
    color: $primary;
    &:hover {
      color: $primary-hover;
    }
  }
}

.noty_theme__mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
}
